/HiYewExternalWeb/build/
/HiYewExternalWeb/dist/
/HiYewExternalWeb/nbproject/private/
/HiYewInternalWeb/build/
/HiYewInternalWeb/dist/
/HiYewInternalWeb/nbproject/private/
/HiYewSystem-ejb/dist/
/HiYewSystem-ejb/nbproject/private/
/HiYewSystem-ejb/setup/sun-resources.xml
/nbproject/private/
/HiYewPublicWeb/nbproject/private/
/HiYewSystem-ejb/build/
/build/
/HiYewPublicWeb/build/
/HiYewPublicWeb/dist/