<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="HiYewSystem-ejbPU" transaction-type="JTA">
    <jta-data-source>jdbc/hiyewDB</jta-data-source>
    <class>entity.EmployeeEntity</class>
    <class>entity.LeaveEntity</class>
    <class>entity.MachineEntity</class>
    <class>entity.PayrollEntity</class>
    <class>entity.Customer</class>
    <class>entity.Quotation</class>
    <class>entity.QuotationDescription</class>
    <class>entity.RFQ</class>
    <class>entity.RFQDescription</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
